.banner {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../assets/lol.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--white);
    margin-top: 72px; /* Altura do header */
}

.banner-content {
    max-width: 800px;
    padding: 2rem;
}

.banner h1 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
    color: var(--white);
}

.banner p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: var(--white);
    opacity: 0.9;
}

@media (max-width: 768px) {
    .banner h1 {
        font-size: 2.5rem;
    }

    .banner p {
        font-size: 1.2rem;
    }
} 